.con2_container{
    margin: 10px;
}
.cat{
    display: flex;
    flex-direction: row;
}

.patient_cat{
    height: 200px;
    width: 180px;
    border: 2px ;
    text-align: center;
    border-radius: 20px;
    margin: 15px;
}
.patient_cat:hover{
    box-shadow: 5px 2.5px 5px gray;
}
.recent_patients{
    margin: 10px 0 10px 0;
}
.graph{
    width: 500px;
    /* margin: 35px auto; */
}
.counter{
    width: 690px;
    /* margin: 35px auto; */
}
.repre{
    display: flex;
    flex-direction: row;
}
.apexcharts-legend-text{
    color: white!important ;
}